section.conrtol
  h2 site control
  p Control The Website If There Is Maintenance
  .control-toggle
    .box
      p web site control
      span Open/Close Website And Type The Reason
    label
      input(type="checkbox", name="check box")
      .toggle-switch
  textarea(name="message")
section.info
  h2 genral info