aside.sidebar.bg-White.p-relative.p20
  h3.p-relative.mt20.txt-center profile
  ul
    li
      a(class="d-flex align-center rad-6", href="../index.html")
        i.fa-regular.fa-chart-bar.fa-fw
        span dash board
    
    li
      a(class="active d-flex align-center rad-6", href="setting.html")
        i.fa-solid.fa-gear.fa-fw
        span settings
    
    li
      a(class="d-flex align-center rad-6", href="index.html")
        i.fa-regular.fa-user.fa-fw
        span profile
    
    li
      a(class="d-flex align-center rad-6", href="index.html")
        i.fa-solid.fa-diagram-project.fa-fw
        span projects
    
    li
      a(class="d-flex align-center rad-6", href="index.html")
        i.fa-solid.fa-graduation-cap.fa-fw
        span courses
    
    li
      a(class="d-flex align-center rad-6", href="index.html")
        i.fa-regular.fa-circle-user.fa-fw
        span friends
    
    li
      a(class="d-flex align-center rad-6", href="index.html")
        i.fa-regular.fa-file.fa-fw
        span files
    
    li
      a(class="d-flex align-center rad-6", href="index.html")
        i.fa-regular.fa-credit-card.fa-fw
        span plans
