div.table
  h2 projects
  table
    caption our company
    thead
      tr
        th name
        th finish date
        th client
        th price
        th team
        th  status
    tbody
      tr
        td wikipedia
        td 10 may 2022
        td ministry
        td $5300
        td 
          img(src="img/n2.jpg", alt="tabel clinent photo", width="36px", height="36px")
          img(src="img/n3.jpg", alt="tabel clinent photo", width="36px", height="36px")
          img(src="img/n4.jpg", alt="tabel clinent photo", width="36px", height="36px")
        td.bg-orange peding
      tr
        td wikipedia
        td 10 may 2022
        td ministry
        td $5300
        td 
          img(src="img/n2.jpg", alt="tabel clinent photo", width="36px", height="36px")
          img(src="img/n3.jpg", alt="tabel clinent photo", width="36px", height="36px")
          img(src="img/n4.jpg", alt="tabel clinent photo", width="36px", height="36px")
        td.bg-blue complate
      tr
        td wikipedia
        td 10 may 2022
        td ministry
        td $5300
        td 
          img(src="img/n2.jpg", alt="tabel clinent photo", width="36px", height="36px")
          img(src="img/n3.jpg", alt="tabel clinent photo", width="36px", height="36px")
          img(src="img/n4.jpg", alt="tabel clinent photo", width="36px", height="36px")
        td.bg-red rejected