//container
.container {
  margin: {
    top: 0px;
    bottom: 0px;
    right: auto;
    left: auto;
  }
  padding: {
    top: 0px;
    bottom: 0px;
    right: 15px;
    left: 15px;
  }
}

@include mobile {
  .container {
    width: 100%;
  }
}

@include small {
  .container {
    width: 750px;
  }
}
@include medium {
  .container {
    width: 970px;
  }
}
@include larg {
  .container {
    width: 1170px;
  }
}