meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=7")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="description", content="dash board")
meta(name="keywords", content="html, css, pug, sass")
meta(name="author", content="ahmed")
title Dash Board
link(rel="icon", href="img/icon.png")
link(rel="stylesheet", href="libs/fontAwsome/css/all.min.css")
link(rel="stylesheet", href="libs/fram/fram.css")
link(rel="stylesheet", href="css/master.css")