doctype
html
  head
    include ../includes/setting/head.pug
  body

    main.main-page#main-page.d-flex
      include ../includes/setting/sideBar.pug
      section.content.bg-white
        include ../includes/setting/header.pug
        main#control
          include ../includes/setting/control.pug
      