/** @format */

@use "../helpers/mixin" as *;
@use "../helpers/vars" as *;

main.main-page {
  height: 100vh;
  @import "../sections/aside";
  .content {
    width: 100%;
    @import "../sections/header-content";
    h1 {
      font-size: 2rem;
      color: black;
      text-transform: capitalize;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 3px;
      }
      &::before {
        bottom: 0;
        background-color: white;
        width: 150px;
      }
      &::after {
        bottom: 0;
        background-color: black;
        width: 100px;
        left: 20px;
      }
    }
    @import "../sections/waper";
  }
}
